/*ダークモード*/
@media (prefers-color-scheme: dark) {
    body {
      background-color: #000;
      color: #fff;
      transition: 2s;
    }
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.img_button img{
    display: block;
}

.img_button:hover{
    opacity: 0.5;
}

.content{
    display: none;
    padding: 30px;
}

.close_button{
    display: inline-block;
    padding: 13px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #11dd;
    color: white;
    cursor: pointer;
}

.img_button{
    transition: 0.3s all;
    cursor: pointer;
}

.txt_img{
    display: flex;
    max-width: 850px;
    margin: 0 auto;
    min-height: 80vh;
}

.img{
    width: 20%;
}

.txt{
    width: 80%;
    padding: 5px;
}

#img01{
    margin-top: 100px;
}